<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "件の") %>エラーがあります。</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field question-content">
    <div><%= form.label "質問内容" %></div>
    <div><%= form.text_area :content, size: "60x10" %></div>
  </div>

  <div class="field question-content">
    <div><%= form.label "前後の文脈" %></div>
    <div><%= form.text_area :sentence, size: "60x10" %></div>
  </div>

  <div class="field">
    <%= form.fields_for :reminiscent_words do |w| %>
      <%= render "reminiscent_word_fields", f: w %>
    <% end %>
    <div class="links">
        <button><%= link_to_add_association "連想ワードを追加", form, :reminiscent_words %></button>
    </div>
  </div>

  <div class="actions">
    <%= form.submit button_text %>
  </div>
<% end %>

