<%= stylesheet_link_tag 'questions/show', :media => "all" %>

<div class="container">
  <div class="question-text">
    <p>
      <%= @question.status %>
    </p>

    <p>
      <strong>質問内容</strong>
      <%= @question.content %>
    </p>

    <p>
      <strong>前後の文脈</strong>
      <%= @question.sentence %>
    </p>

    <p>
      <% @question.reminiscent_words.each do |reminiscent_word| %>
        <tr class="reiniscent_words_list">
          <td class="reminiscent_words_row"><%= reminiscent_word.keyword %></td>
        </tr>
      <% end %>
    </p>
    <% if @question.user_id == current_user.id %>
      <%= link_to '変更する', edit_question_path(@question) %>
      <%= link_to '削除する', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <p>回答一覧</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="answers_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'answers/index', locals: { answers: @question.answers, question: @question } %>
  </div>
</div>