<head>
  <%= stylesheet_link_tag 'search', :media => "all" %>
</head>
<div class="main_content">
  <h1>連想ワードで検索する</h1>
  <%= search_form_for @q, url: search_path do |f| %>
    <%= search_field_tag "q[reminiscent_word_matches_all]" %>
    <br>
    <div class="text_align_right">
      <button><%= f.submit '検索' %></button>
    </div>
  <% end %>

  <% if @search_word.present? %>
    <h3>しっくりくる言葉は見つかりましたか？</h3>
    <div class="results_list">
      <% @results.each do |r| %>
        <div class="answer_word">
          <p><%= r.answer_word %></p>
          <button><%= link_to "質問投稿の詳細", question_path(r.question_id) %></button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>