<%= form_with(model: [question, answer]) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "しっくりくる言葉候補", {class: 'answer-word'} %>
    <%= form.fields_for :answer_words do |aw|%>
      <%= render "answer_word_fields", f: aw %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "しっくりくる言葉を追加", form, :answer_words %>
    </div>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  <div class="actions">
    <%= form.submit '回答する' %>
  </div>
<% end %>