<head>
  <%= stylesheet_link_tag 'answer_new', :media => "all" %>
</head>

<div class="main_content">
  <h1><%= @question.status %></h1>
  <div class="question">
    <div class="question-main">
      <div class="content">
        <label>質問内容</label>
        <p><%= @question.content %></p>
      </div>
      <div class="sentence">
        <label>前後の文脈</label>
        <p><%= @question.sentence %></p>
      </div>
    </div>
    <div class="question-sub">
      <div class="reminiscent-word">
        <% @question.reminiscent_words.each do |reminiscent_word| %>
          <label><%= reminiscent_word.keyword %></label>
        <% end %>
      </div>
    </div>
  </div>
  <h2>回答一覧</h2>
  <div class="divider"></div>
    <div class="answer-area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>
    </div>
</div>
